html {
  font-family: "Source Code Pro", monospace;
  overflow: hidden;
}

a:link {
  color: black;
}

a:visited {
  color: gray;
}

#bg-sketch {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

#main-container {
  margin: 2em;
}

.sketch-link {
  font-weight: bold;
}
