html,
body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background-color: rgb(30, 30, 30);
}

body::-webkit-scrollbar {
  display: none;
}

canvas {
  display: block;
  margin: 0 auto;
}

#main-page {
  background-color: white;
}
