html,
body {
  font-family: "Source Code Pro", monospace;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a:link {
  color: black;
  text-decoration-color: rgb(60, 60, 60);
}

a:visited {
  color: black;
  text-decoration-color: rgb(60, 60, 60);
}

span {
  margin: 1em;
  font-size: smaller;
}

.err {
  margin: 0.1em;
  font-family: "Source Code Pro", monospace;
  font-weight: 600;
  color: red;
}

.info {
  max-width: 650px;
}

#bg-sketch {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

#main-container {
  margin: 1.5em;
}

.sketch-link {
  font-weight: bold;
}
